# Default ignored files
/shelf/
/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/target
/out
/src/main/java/META-INF
/.metadata
/.settings
.classpath
.project
desktop.ini